@namespace html url("http://www.w3.org/1999/xhtml");

#pref-category-box, #accountTreeBox, #sidebar {
    background-color: transparent !important;
    background: transparent !important;
    min-width: 280px;
}
